@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {
	/* Typograpghy themes */
	font-family: 'Nunito Sans', sans-serif;
	--normal-font-weight:300;
	--large-font-weight:600;
	--larger-font-weight:700;

	/* Dark Mode theme */
	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-background: hsl(207, 26%, 17%);

	/* Light mode theme */
	--light-mode-input: hsl(0, 0%, 52%); 
  --light-mode-background: hsl(0, 0%, 98%); 
  --white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */

	/* home page constants */
	--homepage-items: 14px;
	--detail-page: 16px; 

	
}

.app main{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body {
	height: 100%;
	font-family: 'Nunito Sans', sans-serif;
	background-color: var(--light-mode-background);
}

*:not(header){
	transition: all 0.3s ease-in-out;
}

body.dark{
	background-color: var(--dark-mode-background);
}





